<% title 'Thank You For Contacting Us' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Comment:</b>
  <%= @contact.comment %>
</p>
