<h2>500</h2>

<div>
  <h3>We're sorry</h3>

  <p>The content that you requested could not be found.</p>

  <p>An unknown error occured.</p>

  <p>Want to <%= link_to 'go back to our home page', root_path %> and try again?</p>
</div>
