<% title 'About Us' %>

<p>
  WhereToWait.com is a place for people in the service industry to anonymously provide information to other people in
  the service industry. Whether you’re a career waiter, or just a student trying to pay through college - everyone knows
  that waiting tables is one of the best ways to make an income. Choosing a bar or restaurant to work at can be
  complicated, as it is difficult to gauge what kind of money there is to be made, and other information such as what
  the management is like, uniforms, training schedules, etc… This site allows waiters and bartenders to review locations
  they have worked at, so that others can determine where to work.
</p>
