<% title 'Guidelines' %>

<p>
  These are the official posting guidelines (“Site Guidelines”) for www.wheretowait.com. The Site provides user
  generated feedback on service industry income and management at specific locations. Ratings should only be posted by
  users who have worked at a specific restaurant or bar location or who are currently working there.
</p>
<p>
  DO:
<ul>
  <li>Be honest and objective in your assessment of working at a particular restaurant or bar
    Remember that negative comments that still offer constructive criticism are useful. Comments that bash management or
    a location on a personal level are not.
  </li>
  <li>Submit helpful comments that mention the training process, typical hours, benefits, and average income</li>
</ul>
</p>
<p>
  DO NOT:
<ul>
  <li>Include any piece of information that may identify you or other employees;</li>
  <li>Include any piece of identifiable information for an employee that would allow someone to contact the employee
    outside of his/her work. This also includes remarks about anyone’s family or personal life
  </li>
  <li>Post a rating if you have not worked at the specific location</li>
  <li>Rate a restaurant or bar location more than once</li>
  <li>Speak on behalf of other people</li>
</ul>
</p>
<p>
  The Site reserves the right to remove any comments deemed as inappropriate, libelous, defamatory, indecent, vulgar or
  obscene, pornographic, sexually explicit or sexually suggestive, racially, culturally, or ethnically offensive,
  harmful, harassing, intimidating, threatening, hateful, objectionable, discriminatory, or abusive, or which may or may
  not appear to impersonate anyone else or that otherwise violate the Terms of Agreement.
</p>
<p>
  COMMENTS THAT CONTAIN THE FOLLOWING WILL BE REMOVED :
<ul>
  <li>Profanity, name-calling, and/or vulgarity, derogatory remarks about religion, ethnicity or race, physical
    appearance, mental and/or physical disabilities;
  </li>
  <li>References to an employee’s sex life, including sexual innuendos;</li>
  <li>Claims about an employee or manager’s employment status, including previous employment;</li>
  <li>Claims that an employee or manager engages or has engaged in illegal activities;</li>
  <li>A language other than English. Comments must be written in English only.</li>
</ul>
</p>
<p>
  The “Do Not” section of these Site Guidelines will be strictly enforced and the Site reserves all rights to delete or
  otherwise take appropriate action regarding any violations.
</p>
<p>
  Please note, all the reviews on this website are user submitted and should be treated only as opinions. They are not
  the opinions of WhereToWait.com or any of its affiliates.
</p>
<p>
  The Site reserves the right to delete, provide to authorities or otherwise take appropriate action regarding comments
  that threaten violence or bodily harm to another user or employee including, but not limited to, notifying the
  authorities of your IP address and the time you rated and taking any action as described in the Terms of User
  Agreement and Privacy Policy.
</p>
